/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  font-size: 16px;
}

body{
  color: white;
  width: 100%;
  margin: 0px;
  background-color: #eeeeee;
}

header{
  margin: 0px;
  width: 100%;
  height: 15vh;
  position: fixed;
  z-index: 1;
  opacity: 1;
}

header div{
  width: 100%;
  float: left;
}

.header-border{
  background-color: #23466e;
  height: 10%;
}
.header-content{
  background-color: #4d639f;
  height: 60%;
}

.header-content h1{
  font-size: 2em;
}
.header-content h4{
  padding-left: 20px;
}

.header-nav li{
  position: flex-box;
}

.main{
  margin-top: 15vh;
  width: 100%;
  color: black;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
}

.nav-border{
  width: 100%;
  height : 30%;
  background-color: #23466e;
}

.nav{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav div{
  color: white;
  border-radius: 5px;
  font-size: 2vw;
  text-align: center;
}

.nav-item{
  background-color: rgba(255,255,255,0.5);
}

.nav-element{
  flex-basis: 50px;
  background-color: rgba(0,0,0,0);
}

.nav-element p{
  text-aling: center;
  color:white;
  font-size: 1vw;
}

.main-content{
  background-color: rgba(0,0,0,0);
  width: 100%;
}

.side-content{
  float: left;
  width: 15%;
  height: 50vh;
  background-color: rgba(150,150,205,0.8);
}

.footer-content{
  height: 80%;
  background-color: #4d639f;
}

.footer-border{
  height: 10%;
  background-color: #23466e;
}

footer{
  width: 100%;
  height: 10vh;
  float: left;
}

.todays-note{
  height: 100%;
  width: 25%;
  text-align: center;
}