// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contents {
  width: 80%;
  margin: 0 auto;
}

#content{
  border: 1px solid;
  padding: 10px;
  background-color:#F0F6F0;
}

img{
  max-width: 80%;
}

#content-header{
  width: 100%;
  background-color:#D0E0D0;
}

.todays-contents{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-around;
}

.todays-content{
  width: 48%;
  background-color: rgba(245,245,245,1);
  border: 5px solid;
  margin: 10px 0px 10px 0px;
}

.todays-date{
  width: 100%;
  font-size: 3em;
}